@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* css reseting  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Css of body  */
body{
    background: url("/Project1/images/longway.jpg");
    /* background: url("/Project1/images/bbg.jpg"); */
    background-size:cover;
    background-repeat: no-repeat;
    
}
.main{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.name{
    height: 100vh;
    width: 50%;
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
    justify-content:center;
    color: white;
}
.name h1{
    font-size: 60px;
    font-family: 'Permanent Marker', cursive;
    
}
/* css for container  */
.container{

height: 100vh;
width: 25%;
display: flex;
justify-content: flex-start;
/* border: 2px solid white; */
}


/* css for leftslider */
.leftslider{
   
    
    
    height: 100%; /* 100% Full-height */
  width:0;  /*0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
background-color: black;
  overflow-x: hidden; /* Disable horizontal scroll */
 
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* css for logo  */
.logo{
    background: url('https://images.unsplash.com/photo-1646538800908-6ae43ed98094?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0NHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60');
    background-size: cover;
    background-repeat: no-repeat;

    width: 120px;
    height: 120px;
    border: 7px solid  white;
    border-radius: 50%;
}
.logo:hover{
    border:10px solid white ;
    transition-duration: 1s;
    transform: rotate(1turn);
}

/* css for buttons sliders  */
.arrows{
    width: 50px;
    height: 50px;
    margin: 4px;
    border: none;
    color: white;
    border-radius: 9px;
    cursor: pointer;
}
#openbtn{
    background: url("/Project1/images/arrow.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(1);
}
#closebtn{
    position: absolute;
   top: 0;
   right: 5px;
    
    background: url("/Project1/images/cross.png");
    background-size: cover;
    background-repeat: no-repeat;
     filter: invert(1);
    
}

/* navigation things  */
li{
    /* padding: 8px 8px 8px 32px; */
    padding: 8px;
    margin: 8px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  /* border: 2px solid white; */
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  
  
}
@keyframes border{
    25%{
        border-top: 4px solid white;
    }
    50%{
        
        border-right: 4px solid white;
    }
    75%{
        
        border-bottom: 4px solid white;
    }
    100%{
        border-left: 4px solid white;
        border-top: 4px solid white;
        border-right: 4px solid white;
        border-bottom: 4px solid white;
    }
    
}
 li:hover{
    animation-name: border;
    animation-duration: 3s;
    
    animation-iteration-count: 1;
    
    animation-fill-mode: forwards;
    border-radius: 9px;

  
    /* border-bottom: 4px solid white;
    border-radius: 9px;
    text-decoration: underline;
    
     cursor: pointer; */
} 


.social{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box{
    width: 50px;
    height: 50px;
    border: 2px solid white;
    margin: 4px 4px;
   border-radius: 50%;
   background-size: cover;
   background-repeat: no-repeat;
   cursor: pointer;


}
.box:hover{
    border: 6px solid white;
    transition-duration: 1s;
    transform: rotate(1turn);
}


#box1{
    background: url("https://cdn-icons.flaticon.com/png/512/4494/premium/4494488.png?token=exp=1647061172~hmac=ec1ec56510c3a8bf445e6e0d0261360f");
    background-size: cover;
   background-repeat: no-repeat;
}
#box2{
    background: url("https://cdn-icons.flaticon.com/png/512/3670/premium/3670124.png?token=exp=1647061447~hmac=6bfe973c6339ef71368d8e1b3ed37609");
    background-size: cover;
   background-repeat: no-repeat;
}
#box3{
    background: url("https://cdn-icons.flaticon.com/png/512/2504/premium/2504947.png?token=exp=1647061621~hmac=14d2c8a9389f47de30c5c46265db54cd");
    background-size: cover;
   background-repeat: no-repeat;
}
#box4{
    background: url("https://cdn-icons.flaticon.com/png/512/2766/premium/2766147.png?token=exp=1647061697~hmac=591cc40a3a942544b59daa1aeee3061f");
    background-size: cover;
   background-repeat: no-repeat;
}